.hidediv{
    font-weight: 700;
  }
     .h{
 display: none;
     }
     #a{
       margin-left: 0%;
       width: max-content;
       
     }
     #re>input{
       margin-top: 0;
       height: 30px;
     }
     .title{
         margin-left: 20%;
     }
     .sai{
         margin-left: 20%;
         width: 40%;
         display: grid;
         grid-template-columns: repeat(2,1fr);
       row-gap: 40px;
         height: 200%;
     }
     #fname,#lname,#email,#Password{
         height: 70%;
         width: 90%;
     
 
     }
     label{
         font-size: 20px;
         font-weight: 700;
     }
     .ai{
         height: 35px;
         width: 35px;
         
     }
     .ch{
         width: 25%;
         margin-top: 50px;
         margin-left: 20%;
     }
     .si{
         padding-bottom: 10px;
     }
     #kholsre{
         margin-top: 20px;
         margin-left: 20%;
 
     }
   
 .container {
   display: block;
   position: relative;
   padding-left: 40px;
   margin-bottom: 20px;
   cursor: pointer;
   font-size: 25px;
 }
 
 /* Hide the default radio button */
 .container input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
 }
 
 /* custom radio button */
 .check {
   position: absolute;
   top: 0;
   left: 0;
   height: 30px;
   width: 30px;
   background-color: white;
   border-radius: 50%;
   border: 1px solid black;
 }
 
 .container:hover input ~ .check {
   background-color:white;
 }
 
 .container input:checked ~ .check {
   background-color:white;
 }
 
 .check:after {
   content: "";
   position: absolute;
   display: none;
 }
 
 .container input:checked ~ .check:after {
   display: block;
 }
 
 .container .check:after {
      top: 8px;
     left: 8px;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background:rgb(32,128,51);
    
 }
 .rd{
     display: flex;
 }
 #bot{
     display: flex;
 margin-left: 20%;
 width: 60%;
 height: max-content;
 }
 #submit{
     padding-left: 30px;
     padding-right: 30px;
     font-weight: 600;
     height: 45px;
     width: max-content;
     font-size: 22px;
     background-color: rgba(32, 128, 51, 0.78);
     color: white;
     font: 600;
 }
 #submit:hover{
     background-color: rgb(32,128,51);
 }
 #cancal{
     padding-left: 20px;
     border: none;
     font-size: 20px;
     background-color: white;
   text-decoration: underline;
 
 }
 .button{
     margin-left: 20%;
 }
 .fa-solid{
 color:rgba(128, 128, 128, 0.677);
 }
 
 @media all and (min-width:80px) and (max-width:660px){
   #res{
     height: 35px;
     width: 35px;
   }
   .title{
     margin-left: 0%;
 }
 .sai{
     margin: auto;
     width: 80%;
     display: grid;
     grid-template-columns: repeat(1,1fr);
   row-gap: 20px;
     height: 200%;
 }
 #fname,#lname,#email,#Password{
     height: 70%;
     width: 80%;
 
 
 }
 label{
     font-size: 20px;
     font-weight: 700;
 }
 .ai{
     height: 45px;
     width: 35px;
     
 }
 .ch{
     width: 100%;
     margin-top: 50px;
     margin-left: 0%;
 }
 .si{
     padding-bottom: 10px;
 }
 #kholsre{
     margin-top: 20px;
     margin-left: 0%;
 
 }
 
 .container {
 display: block;
 position: relative;
 padding-left: 40px;
 margin-bottom: 20px;
 cursor: pointer;
 font-size: 25px;
 }
 
 /* Hide the default radio button */
 .container input {
 position: absolute;
 opacity: 0;
 cursor: pointer;
 }
 
 /* custom radio button */
 .check {
 position: absolute;
 top: 0;
 left: 0;
 height: 30px;
 width: 30px;
 background-color: white;
 border-radius: 50%;
 border: 1px solid black;
 }
 
 .container:hover input ~ .check {
 background-color:white;
 }
 
 .container input:checked ~ .check {
 background-color:white;
 }
 
 .check:after {
 content: "";
 position: absolute;
 display: none;
 }
 
 .container input:checked ~ .check:after {
 display: block;
 }
 
 .container .check:after {
 top: 8px;
 left: 8px;
 width: 15px;
 height: 15px;
 border-radius: 50%;
 background:rgb(32,128,51);
 
 }
 .rd{
 display: block;
 }
 #bot{
 display: block;
 margin-left: 0%;
 width: 90%;
 height: max-content;
 }
 #submit{
 padding-left: 30px;
 padding-right: 30px;
 font-weight: 600;
 height: 45px;
 width: max-content;
 font-size: 22px;
 background-color: rgba(32, 128, 51, 0.314);
 color: white;
 font: 600;
 }
 #submit:hover{
 background-color: rgb(32,128,51);
 }
 #cancal{
 padding-left: 20px;
 border: none;
 font-size: 20px;
 background-color: white;
 text-decoration: underline;
 
 }
 .button{
 margin-left: 0%;
 }
 .fa-solid{
 color:rgba(128, 128, 128, 0.677);
 }
 
   }
   
   body{
    margin: 0px;
}
#mainp{
    
    background-color:#F0F0F0;
    
}

#containerp{
    display: flex;
    width:70%;
    background-color:#F0F0F0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    margin-bottom:1%;
}

#social{
    width:50%;
    display: flex;
    align-items: center;
    border-right-width: 2px;
    border-right-color: gainsboro;
    border-right-style: solid;
}

#social > h4, p{
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#social > p{
    font-size: 20px;
}

#topright{
    width:50%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#app{
    width:40%;
    display: flex;
    align-items: center;
    
    
}

#app > img{
    float: left;
    width:  60px;
    height: 60px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

#app > h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
}

#scantext{
    width:50%;
    display: block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#scantext>p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 0%;
}

#scantext>input{
    background-color: black;
    color: white;
    width: 100px;
    border-radius: 5px;
    border-width: 0px;
}

#footergrid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: auto;
    width: 70%;    
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid gainsboro;
    border-bottom: 2px solid gainsboro;
    padding-top: 1%;
    padding-bottom: 1%;
}

.gridcontent{
    width:80%;
    margin-left:auto;
    margin-right: auto;
    height: max-content;
}

.gridcontent>h5{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 30px;
}

.gridcontent>p{
    font-family:'Arial';
    font-size: 12px;
    margin-bottom: 30px;
    
}
#disclaimer{
    margin-top: 30px;
    padding-bottom: 20%;
}

#disclaimer>p{
    
    text-align: center;
    font-family:'Arial';
    font-size: 11px;
    margin-top: 15px;
}

#lastline{
    width:max-content;
    display: flex;
    margin: auto;
}
#lastline>h6{
    font-family:'Arial';
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
   
   #six{
    
       color: rgba(0, 0, 0, 0.62);
       font-size: 15px;
       font-weight: 200;
   }
 
   body{
       font-family:Arial, Helvetica, sans-serif
       color: rgba(0, 0, 0, 0.658);
   }
   
   #navbar,#header_1 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
#header_1 *{
    cursor:pointer;
}
#header_1 {
    width: 100%;
    display: flex;
    height: 40px;
    border-bottom: 1px solid #aaa;
    background-color: #eee;
    align-items: center;
    justify-content: center;
}

#navbar {
    width: 100%;
    display: flex;
    height: 75px;
    border-bottom: 1px solid #ccc;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#navbar>div:first-child {
    display: flex;
    width: 53%;
}

#navbar>div:nth-child(2) {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

#logo {
    width: auto;
    text-align: center;
}

#logo>img {
    width: 80%;
    height: 80%;
}

#search_area {
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 100%;
    border-radius: 5px;
    width: 70%;
}

#search_area>i {
    font-size: 180%;

}

#search_area>input {
    width: 100%;
    height: 100%;
    border: 0;
    margin-left: 10px;
    font-size: large;
    outline: none;
}



#user>div {
    border: 2px solid black;
    border-radius: 50%;
    width: 84%;
    /* overflow: hidden; */
    text-align: center;
    position: relative;
}

#user>div::after {
    content: 'i';
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #ccfbeb;
    position: absolute;
    top: 0px;
    left: -6px;
}

#user>div>i {
    font-size: 217%;
    margin-top: 7px;
}

#cart {
    text-align: center;
}

#cart>div {
    width: fit-content;
    height: fit-content;
    position: relative;
}

#cart>div>i {
    font-size: 280%;
}

#cart>div>div {
    display: flex;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    font-size: small;
    width: 15px;
    height: 15px;
    top: 6px;
    left: 22px;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
}

#checkout {
    text-align: center;
}

#checkout>div {
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid black;
}

#checkout>div>i {
    font-size: 182%;
}

#header_2 {
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #ccc;
    padding: 5px 20px 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header_2>div:first-child {
    display: flex;

    height: 25px;
    align-items: center;
    /* width: fit-content;
    height: fit-content; */
}

#header_2>div:nth-child(2) {
    display: flex;
}

#short>div {
    width: 20px;
    height: 2px;
    background-color: black;
    margin: 3px;
    margin-right: 15px;
}

#store {
    margin-left: 15px;
    margin-right: 15px;
}

#header_2>div:nth-child(3) {
    align-self: flex-end;
}

#coupon,
#help {
    position: relative;
    margin-right: 60px;
}

#coupon::before,
#help::before {
    content: '$';
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 1px;
    position: absolute;
    left: -30px;
    text-align: center;
}

#help::before {
    content: '?';
}

#shipping_banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    /* border: 1px solid black; */
    background-color: black;
    font-size: 20px;
    margin-top: 45px;
    margin-bottom: 30px;
    color: white;
    font-size: 60px;
}

   